<?xml version="1.0"?>
<robot>

  <!-- Gripper dimensions -->
  <property name="PG70_length_x" value="0.08" />
  <property name="PG70_length_y" value="0.112" />
  <property name="PG70_length_z" value="0.093" />

  <property name="PG70_finger_length_x" value="0.03" />
  <property name="PG70_finger_length_y" value="0.02" />
  <property name="PG70_finger_length_z" value="0.07" />


</robot>